.card img{
    height: 100%;
    width: 100%;
}

.super-card{
    padding: 10px;
}

.star{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.star:focus{
    outline: none;
}